.col-7 {
    height: 500px;
    background-color:whitesmoke;
    
    
}

#number1 {
    background-color: #008ad3;
    color: white;
    margin-right: 5px;
    border-radius: 15px;
}

#number2 {
    background-color: #008ad3;
    color: white;
    margin-right: 5px;
    border-radius: 15px;
}

#number3 {
    background-color: #008ad3;
    color: white;
    margin-right: 5px;
    border-radius: 15px;
}

#number4 {
    background-color: #008ad3;
    color: white;
    margin-right: 5px;
    border-radius: 15px;
}

#number5 {
    background-color: #008ad3;
    color: white;
    border-radius: 15px;
}